body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container__inner {
    background-color: black;
    width: 1920px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    margin-bottom: 100px;
    margin-left: 360px;
    margin-right: 360px;
}
nav {
    margin-left: 191.77px;
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 88px;
}
.list-item {
    color: white;
    width: 162px;
    height: 22px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Gilroy';
}
.busket {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-dollar-sign {
    color: white;
    margin-left: 253px;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 12px 11px;
    cursor: pointer;
}
/* ------- */
main {
    margin-left: 360px;
    margin-right: 360px;
    margin-bottom: 180px;
}
article {
    margin-bottom: 200px;
}
.new-menu {
    padding: 12px 16px;
    border-radius: 100px;
    background: var(--d-3320-f, #D3320F);
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Gilroy', serif;
}
.updated-heading {
    margin: 0;
    color: white;
    font-size: 120px;
    font-weight: 900;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    width: 536px;
    font-family: 'Merriweather', serif;
}
.updated-description {
    color: white;
    margin: 56px 0;
    width: 608px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Gilroy', serif;
}
button.view-inner {
    display: flex;
    padding: 19px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: linear-gradient(96deg, #DA8023 0%, #E2B438 100%);
    color: #191411;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-family: 'Gilroy', serif;
}
/* ------- */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 180px;
}
.question {
    color: white;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 1.92px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
}
.benefits {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
}
.benefit-item {
    display: flex;
    width: 312px;
    height: 287px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.benefit-name {
    color: white;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Gilroy', serif;
}
.benefit-text {
    color: white;;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    font-family: 'Gilroy', serif;
}
/* ------- */
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-heading {
    color: white;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 1.92px;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
}
.row {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}
.second-row {
    margin-bottom: 180px;
}
.card {
    border-radius: 16px;
    border: 1px solid var(--Dark-grey, #353535);
    background: var(--Cards, #211A16);
    width: 384px;
    height: 564px;
    /* flex-shrink: 0; */
    display: flex;
    width: 324px;
    height: 504px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 30px;
    margin-bottom: 20px;
}
.card-name {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto;
    font-family: 'Gilroy', serif;
}
.card-text {
    color: white;
    width: 302px;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin: 0 auto;
    font-family: 'Gilroy', serif;
}
.order-details {
    width: 324px;
    display: flex;
    justify-content: space-between;
}
.price {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin: 0 auto;
    font-family: 'Gilroy', serif;
}
.weight  {
    color: var(--Grey, #757575);
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto;
    font-family: 'Gilroy', serif;
}
.order-btn {
    color: #191411;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    width: 182px;
    height: 62px;
    padding: 19px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: linear-gradient(96deg, #DA8023 0%, #E2B438 100%);
    cursor: pointer;
    font-family: 'Gilroy', serif;
}
.fa-cart-shopping {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
/* |||||| */
.order-heading {
    color: white;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 1.92px;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
}
.order__box {
    width: 424px;
    height: 480px;
    border-radius: 16px;
    border: 1px solid #353535;
    background: #211A16;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 800px;
}
.order-term {
    width: 344px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 60px;
    font-family: 'Gilroy', serif;
}
.input-box {
    margin-bottom: 20px;
    display: flex;
    width: 344px;
    height: 62px;
    padding: 30px 20px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #DA8023;
    background: #211A16;
    color: var(--Grey, #757575);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    font-family: 'Gilroy', serif;
}
  
  /* Стилизация кнопки "Отправить" */
.submit-btn {
    display: flex;
    width: 344px;
    height: 62px;
    padding: 19px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: linear-gradient(96deg, #DA8023 0%, #E2B438 100%);
    color: #191411;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Gilroy', serif;
}
/* ((())) */
footer {
    display: inline-flex;
    height: 170px;
    padding: 0px 360px;
    justify-content: center;
    align-items: center;
    gap: 877.774px;
    background: #000000;
}
.protect {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Gilroy', serif;
}